<div class="hero-unit">
    <h1>Marionette-Require-Boilerplate</h1>
    <p>Boilerplate Marionette application to help you get started with the best tools and best practices</p>

    <p class="muted">
        You are viewing this application on
        {{#if mobile}}
        <strong>Mobile</strong>
        {{else}}
        <strong>Desktop</strong>
        {{/if}}.
    </p>
    <br/>
    <a class="btn btn-primary btn-large" href="https:github.com/BoilerplateMVC/">See more Boilerplates</a>
</div>